.App {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.App > div {
    margin-right: 50px;
}

.wrapper {
    min-width: 200px;
    min-height: 300px;
    margin: 30px;
    display: flex;
    background-color: rgba(18, 137, 222, 0.2);
    border-radius: 3%;
    border: 2px solid rgba(119, 113, 245, 0.83);
    padding: 15px;
    text-align: center;
}

.error {
    border: dashed 1px red;
}

.errorMessage {
    color: #0fede9;
}

.btnClass {
    background-color: mediumspringgreen;
    color: white;
    font-weight: bold;
    /*border: none;*/
}

.isDone {
    opacity: 0.4;
    text-decoration: underline;
    color: white;
    /*text-decoration: line-through;*/
}