.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error{
    border: dashed 1px red;
}
.errorMessage{
    color: red;
}
.btnClass{
    background-color: mediumspringgreen;
    color: white;
    font-weight: bold;
}
.isDone{
    opacity: 0.4;
    text-decoration: line-through;
}